useDynLib(MSCMGARCH, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
exportPattern("^[[:alpha:]]+")
import(VineCopula)
import(stats4)
import(parallel)
import(BEKKs)
import(mvtnorm)
import(pbapply)
import(optimParallel)
import(maxLik)
import(future.apply)
import(rvinecopulib)
export(Sim_MSCMGARCH)
export(MLE_MSCMGARCH)
export(MLE_CMGARCH)

