useDynLib(MSCMGARCH, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
exportPattern("^[[:alpha:]]+")
import(VineCopula)
import(stats4)
import(parallel)
import(BEKKs)
import(mvtnorm)
import(cubature)
import(calculus)
import(pbapply)
import(optimParallel)
import(future.apply)
import(future)
import(rvinecopulib)
export(Sim_MSCMGARCH)
export(MLE_MSCMGARCH)
export(MLE_MSCMGARCH_3dim)
export(rolling_window)
export(MLE_CMGARCH)

